<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/userHome.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
    </head>
    <body> 
        <nav class="navbar"> 
            <!-- Top-left navigation --> 
            <div class="nav-left"> 
                <button class="nav-button active"> My Appts </button> 
                <button class="nav-button"> Schedule Appts </button> 
                <button class="nav-button"> Appt History </button> 
            </div> 
            <!-- Top-right navigation --> 
            <div class="nav-right"> 
                <button class="nav-button"> Profile </button> 
            </div> 
        </nav> 
    </body>
    <main>
        <h1>My Appointments</h1>
        <p>User Appts will go here</p>
    </main>
</html>